In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, row_number, count
from pyspark.sql.window import Window

In [23]:
spark = SparkSession \
    .builder \
    .appName("Databases II") \
    .getOrCreate()

In [24]:
rating = (spark.read
      .format("csv")
      .option('header', 'true')
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .load("rating.csv")
     )

In [25]:
# convert the string column 'timestamp' to timestamp data type
rating = rating.select(col('userId'),
                      col('movieId'),
                      col('rating'),
                      col('timestamp').cast('timestamp').alias('timestamp'))

In [26]:
# add to 'rating' dataframe an extra column with the year values from column 'timestamp'
rating = rating.select(col('userId'),
                      col('movieId'),
                      col('rating'),
                      col('timestamp'),
                      year(col('timestamp')).alias('yearNum'))

In [27]:
# create new dataframe 'top_user' with the columns of dataframe 'rating'
# grouped by the columns 'userId' and 'yearNum'
# and count the number of ratings for each user, every year
top_user = rating.select('*').groupby(rating["userId"], rating["yearNum"]).agg(count('rating').alias('total_ratings'))

In [28]:
# create a window partition over the 'yearNum' column
window = Window.partitionBy(top_user["yearNum"]).orderBy(top_user["total_ratings"].desc())

In [29]:
# give the sequential row number from 1 to 10, to the result of each window partition
top_users = top_user.select('*', row_number().over(window).alias('rank')).filter(col('rank') <= 10)

In [30]:
# order the results firstly by ascending yearNum and secondly by ascending rank
# and show the results
query7 = top_users.orderBy(top_users["yearNum"].asc(), top_users["rank"].asc()).show(1000)

+------+-------+-------------+----+
|userId|yearNum|total_ratings|rank|
+------+-------+-------------+----+
|131160|   1995|            3|   1|
| 28507|   1995|            1|   2|
| 25878|   1996|          800|   1|
|  1931|   1996|          722|   2|
| 46663|   1996|          669|   3|
|107732|   1996|          657|   4|
| 24214|   1996|          624|   5|
| 19067|   1996|          605|   6|
| 41389|   1996|          605|   7|
|  4548|   1996|          589|   8|
| 46146|   1996|          570|   9|
| 81218|   1996|          510|  10|
|124052|   1997|         1352|   1|
|128653|   1997|         1141|   2|
|  5814|   1997|          849|   3|
| 64778|   1997|          655|   4|
| 83343|   1997|          583|   5|
|101971|   1997|          559|   6|
| 34962|   1997|          526|   7|
| 19954|   1997|          522|   8|
| 61432|   1997|          512|   9|
|  8962|   1997|          510|  10|
|   903|   1998|         1202|   1|
| 69082|   1998|          892|   2|
|125125|   1998|          889|   3|
|  3673|   1998|          828|   4|
|134138|   1998|          806|   5|
|116630|   1998|          768|   6|
|125978|   1998|          742|   7|
| 13170|   1998|          731|   8|
|  8963|   1998|          701|   9|
| 71449|   1998|          692|  10|
|111523|   1999|         1479|   1|
|130019|   1999|         1343|   2|
| 80886|   1999|         1339|   3|
| 10761|   1999|         1279|   4|
|123514|   1999|         1117|   5|
|125969|   1999|         1049|   6|
| 44882|   1999|         1028|   7|
| 54459|   1999|         1020|   8|
| 68215|   1999|         1004|   9|
|   104|   1999|          998|  10|
| 91867|   2000|         2044|   1|
| 33402|   2000|         1868|   2|
|137885|   2000|         1689|   3|
| 45815|   2000|         1574|   4|
| 17455|   2000|         1555|   5|
|125794|   2000|         1421|   6|
| 57735|   2000|         1368|   7|
| 88228|   2000|         1343|   8|
| 93219|   2000|         1334|   9|
|120379|   2000|         1325|  10|
|118205|   2001|         2883|   1|
| 82418|   2001|         2010|   2|
| 20132|   2001|         1595|   3|
|126661|   2001|         1454|   4|
| 73074|   2001|         1407|   5|
| 37423|   2001|         1391|   6|
| 75678|   2001|         1366|   7|
|119677|   2001|         1322|   8|
| 39583|   2001|         1287|   9|
| 93227|   2001|         1257|  10|
| 83090|   2002|         5169|   1|
|107326|   2002|         3117|   2|
|101861|   2002|         2080|   3|
| 40058|   2002|         2056|   4|
|103223|   2002|         2046|   5|
|   156|   2002|         1935|   6|
|  9544|   2002|         1926|   7|
| 45987|   2002|         1754|   8|
|100349|   2002|         1507|   9|
| 78453|   2002|         1416|  10|
| 72983|   2003|         2033|   1|
| 33736|   2003|         2004|   2|
| 21861|   2003|         1982|   3|
| 13623|   2003|         1612|   4|
|  2261|   2003|         1546|   5|
| 67346|   2003|         1388|   6|
|113991|   2003|         1336|   7|
|134401|   2003|         1336|   8|
| 50943|   2003|         1310|   9|
| 45637|   2003|         1308|  10|
| 42204|   2004|         2619|   1|
| 15478|   2004|         2320|   2|
|130191|   2004|         2029|   3|
| 60018|   2004|         1914|   4|
| 21070|   2004|         1647|   5|
| 15529|   2004|         1516|   6|
| 60181|   2004|         1474|   7|
| 90968|   2004|         1470|   8|
| 39497|   2004|         1416|   9|
|107640|   2004|         1397|  10|
| 92956|   2005|         2806|   1|
| 50297|   2005|         2654|   2|
| 79159|   2005|         2339|   3|
|100134|   2005|         2259|   4|
| 58953|   2005|         2248|   5|
| 33349|   2005|         2216|   6|
| 41283|   2005|         2030|   7|
| 75469|   2005|         2024|   8|
|   775|   2005|         1957|   9|
|  6373|   2005|         1919|  10|
| 59477|   2006|         3123|   1|
| 34576|   2006|         3054|   2|
| 68063|   2006|         2769|   3|
| 32344|   2006|         2713|   4|
| 23173|   2006|         2530|   5|
|117395|   2006|         2004|   6|
|  8405|   2006|         1886|   7|
| 56504|   2006|         1865|   8|
|103654|   2006|         1859|   9|
|   982|   2006|         1796|  10|
|  8405|   2007|         4691|   1|
| 71975|   2007|         2841|   2|
|118754|   2007|         2801|   3|
| 31404|   2007|         2697|   4|
| 69793|   2007|         2608|   5|
|   741|   2007|         2212|   6|
|120575|   2007|         1986|   7|
| 61168|   2007|         1917|   8|
| 34587|   2007|         1897|   9|
| 91893|   2007|         1775|  10|
| 99754|   2008|         2375|   1|
|130767|   2008|         2346|   2|
| 46470|   2008|         2106|   3|
| 10678|   2008|         1931|   4|
| 76437|   2008|         1913|   5|
| 50168|   2008|         1843|   6|
|121870|   2008|         1563|   7|
|102098|   2008|         1500|   8|
|  3664|   2008|         1462|   9|
| 68575|   2008|         1452|  10|
| 18138|   2009|         3203|   1|
| 14705|   2009|         3099|   2|
| 95301|   2009|         2568|   3|
| 66836|   2009|         2186|   4|
|131904|   2009|         2145|   5|
| 67527|   2009|         2081|   6|
| 80092|   2009|         1992|   7|
|131894|   2009|         1974|   8|
| 74028|   2009|         1585|   9|
| 89402|   2009|         1584|  10|
| 31122|   2010|         3049|   1|
| 92269|   2010|         2980|   2|
|116317|   2010|         2493|   3|
|114406|   2010|         2352|   4|
|115606|   2010|         1803|   5|
|130622|   2010|         1731|   6|
|124633|   2010|         1682|   7|
|105588|   2010|         1677|   8|
| 99342|   2010|         1658|   9|
| 75810|   2010|         1551|  10|
|105580|   2011|         3390|   1|
| 15617|   2011|         3321|   2|
| 54465|   2011|         3162|   3|
| 62040|   2011|         2319|   4|
| 42096|   2011|         2141|   5|
| 47439|   2011|         1745|   6|
| 54549|   2011|         1575|   7|
|128690|   2011|         1541|   8|
|110190|   2011|         1463|   9|
| 84480|   2011|         1408|  10|
|135090|   2012|         2101|   1|
| 76630|   2012|         2085|   2|
| 98420|   2012|         2044|   3|
| 13064|   2012|         1749|   4|
|  3284|   2012|         1742|   5|
|104063|   2012|         1732|   6|
| 40483|   2012|         1723|   7|
| 12644|   2012|         1703|   8|
| 50367|   2012|         1686|   9|
|102911|   2012|         1570|  10|
|130459|   2013|         2313|   1|
| 32514|   2013|         2278|   2|
| 27053|   2013|         1572|   3|
|114412|   2013|         1536|   4|
|126072|   2013|         1473|   5|
| 72421|   2013|         1432|   6|
| 39214|   2013|         1424|   7|
| 31244|   2013|         1415|   8|
| 34202|   2013|         1362|   9|
|117054|   2013|         1360|  10|
|101044|   2014|         2505|   1|
|137277|   2014|         2387|   2|
| 91349|   2014|         2159|   3|
| 54107|   2014|         2018|   4|
| 37253|   2014|         1985|   5|
| 93152|   2014|         1888|   6|
|123352|   2014|         1841|   7|
| 97860|   2014|         1530|   8|
| 30317|   2014|         1353|   9|
| 74222|   2014|         1343|  10|
| 52260|   2015|         2419|   1|
| 89495|   2015|         2153|   2|
| 19590|   2015|         2006|   3|
| 88604|   2015|         1464|   4|
| 15720|   2015|         1456|   5|
| 28688|   2015|         1452|   6|
| 23039|   2015|         1378|   7|
| 51558|   2015|         1339|   8|
| 28916|   2015|         1319|   9|
| 42152|   2015|         1224|  10|
+------+-------+-------------+----+

In [31]:
spark.stop()