In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("Databases II") \
    .getOrCreate()

In [4]:
movie = (spark.read
      .format("csv")
      .option('header', 'true')
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .load("movie.csv")
     )

In [5]:
rating = (spark.read
      .format("csv")
      .option('header', 'true')
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .load("rating.csv")
     )

In [6]:
# register 'movie' and 'rating' dataframes as SQL temporary views
movie.createOrReplaceTempView("movie")
rating.createOrReplaceTempView("rating")

In [7]:
# execute the SQL query
spark.sql("SELECT title, count(rating) AS total_ratings FROM movie INNER JOIN rating ON movie.movieId = rating.movieId GROUP BY title ORDER BY total_ratings DESC").show(truncate=0)

+-----------------------------------------------------+-------------+
|title                                                |total_ratings|
+-----------------------------------------------------+-------------+
|Pulp Fiction (1994)                                  |67310        |
|Forrest Gump (1994)                                  |66172        |
|Shawshank Redemption, The (1994)                     |63366        |
|Silence of the Lambs, The (1991)                     |63299        |
|Jurassic Park (1993)                                 |59715        |
|Star Wars: Episode IV - A New Hope (1977)            |54502        |
|Braveheart (1995)                                    |53769        |
|Terminator 2: Judgment Day (1991)                    |52244        |
|Matrix, The (1999)                                   |51334        |
|Schindler's List (1993)                              |50054        |
|Toy Story (1995)                                     |49695        |
|Fugitive, The (1993)                                 |49581        |
|Apollo 13 (1995)                                     |47777        |
|Independence Day (a.k.a. ID4) (1996)                 |47048        |
|Usual Suspects, The (1995)                           |47006        |
|Star Wars: Episode VI - Return of the Jedi (1983)    |46839        |
|Batman (1989)                                        |46054        |
|Star Wars: Episode V - The Empire Strikes Back (1980)|45313        |
|American Beauty (1999)                               |44987        |
|Twelve Monkeys (a.k.a. 12 Monkeys) (1995)            |44980        |
+-----------------------------------------------------+-------------+
only showing top 20 rows

In [9]:
spark.stop()